<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-autowire="byName">

	<context:annotation-config />
	<context:component-scan base-package="com.adu.spring_test.web.controller" />

	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" />
	<mvc:resources mapping="/icon/**" location="/icon/" />

	<!--用于将json/xml格式的参数转换为类对象(RequestBody)-->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler />

	<mvc:view-controller path="/" view-name="/index"/>
	<mvc:view-controller path="/login" view-name="/login/login"/>
	<mvc:view-controller path="/upload" view-name="/file/upload"/>
	<mvc:view-controller path="/batchUpload" view-name="/file/batch_upload"/>


	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/myPath/* -->
			<mvc:mapping path="/**" /><!-- 拦截的url -->
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/fonts/**" />
			<mvc:exclude-mapping path="/icon/**" />
			<mvc:exclude-mapping path="/login/**" />
			<mvc:exclude-mapping path="/requestParam/**" />
			<bean class="com.adu.spring_test.web.interceptor.UserLoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/myPath/* -->
			<mvc:mapping path="/**" /><!-- 拦截的url -->
			<bean class="com.adu.spring_test.web.interceptor.LoginRequiredInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>



	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property>
		<property name="maxInMemorySize" value="40960"></property>
	</bean>

	<bean id="apiResultExceptionResolver" class="com.adu.spring_test.web.exception.ApiResultExceptionResolver" />

	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.HandlerExceptionResolverComposite">
		<property name="exceptionResolvers">
			<list>
				<!--按各个ExceptionResolver.getOrder()的顺序排序，前边的优先调用，只到不返回null才结束resolve链-->
				<ref bean="apiResultExceptionResolver" />
			</list>
		</property>
		<property name="order" value="10" />
	</bean>

</beans>
